.c-ValueClassic2017w8 {
  background: #fff;

  .price {
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Subway-Heavy';
    font-size: 50px;
    text-align: center;
    color: #008938;
    z-index: 2;
    width: 50%;
    padding: 10px;
  }

  .upper {
    top: 476px;
  }

  .bottom {
    top: 885px;
  }

  .left {
    left: -10px;
  }

  .right {
    left: calc(50% - 10px);
  }


}
