.c-UGGB-w6-Footer {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: #000;

	.item-price {
	  position: absolute;
	  font-size: 36px;
	  color: #fff;
	  font-family: 'Subway-Heavy';
	  z-index: 99;
	  padding: 0; margin: 0;
	}

	.price {
		top: 190px;
		left: 15px;
	}

	.cal {
		font-family: 'Subway-Medium';
		margin-left: 10px;
		margin-right: 20px;
	}

}
