.autumn-footer {

	.item-price {
	  position: absolute;
	  font-size: 32px;
	  color: white;
	  font-family: 'Subway-Heavy';
	  z-index: 99;
	  padding: 0; margin: 0;
	}

	.six-price {
		bottom: 19px;
		left: 70px;
	}

	.twelve-price {
		bottom: 19px;
		left: 445px;
	}
}

