.c-CrispyChicken2019w1 {

  height: 1080px;
  width: 1920px;
  display: inline-block;
  background: #fff;
  position: relative;
  font-family: 'Subway-Heavy';

  * {
    position: absolute;
  }

  .d-img {
    position: absolute;
    left: 0;
    top: 0;
  }

  .d-text {
    font-family: 'Subway-Heavy';
    font-size: 46px;
    line-height: 46px;
    color: #fff;
  }

  .d-bg {
    left: -50px;
    top: -50px;
    width: calc(100% + 100px);
    height: calc(100% + 100px);
  }

  .dn-sub1Price6 {
    top: 866px;
    left: 178px;
    white-space: pre;
  }

  .dn-sub1Price12 {
    top: 866px;
    left: 352px;
    white-space: pre;
  }

  .dn-wrapPrice {
    color: #dd3705;
    top: 329px;
    left: 763px;
    white-space: pre;
  }

}
