.c-ExtrasMenu {
  padding: 40px 20px 0px 15px;
  height: 605px;

  &.R2L {
    padding: 40px 10px 0px 30px;
  }

  & .c-TableList_column:nth-child(1),
  & .c-TableList_column:nth-child(2),
  & .c-TableList_column:nth-child(3) {
    padding-right: 20px;
  }

  & .c-Header_column:nth-child(1),
  & .c-TableList_column:nth-child(1) {
    width: 66%;
  }

  & .c-Header_column:nth-child(2),
  & .c-TableList_column:nth-child(2) {
    width: 13%;
  }

  & .c-Header_column:nth-child(3),
  & .c-TableList_column:nth-child(3) {
    width: 17%;

    .c-Menus_title {
      margin-left: 40px;
    }
  }

  .c-Menus_caption {
    /*font-size: 1.7rem;*/
    font-size: 36px;
    float: right;
  }

  /* legal updates for font size */
  .c-Menus_title, .c-Menus_caption-highlight {
    font-size: 36px;
    line-height: 1.1;
  }

  .c-Sub_caption {
    width: 100%;
    text-align: left;
  }

  .c-TableList_row {
    padding: 0px 0px 17px 0px;
  }

  .headerCal {
    padding-top: 23px;
    margin-right: 3px;
  }

  .cals {
    display: block;
    position: absolute;
    right: 0;
  }

  .c-Menus_header {
    padding-right: 20px;
    /* This is lame, but the header is not lining up with the line items */
    margin-left: -3px;
  }
}
