.SignatureMenu {
  /*padding: 55px 35px 30px 35px;*/
  padding: 40px 29px 30px 35px;
  position: relative;
  height: 1080px;

  & .c-Header_column:nth-child(1),
  & .c-TableList_column:nth-child(1) {
    width: 69%;
    padding-right: 0px;
  }

  & .c-Header_column:nth-child(2),
  & .c-TableList_column:nth-child(2) {
    width: 11%;
  }

  & .c-Header_column:nth-child(3),
  & .c-TableList_column:nth-child(3) {
    width: 15%;

    .c-Menus_title {
      margin-left: 28px;
    }
  }

  .c-TableList_row {
    margin: 0;
  }
  .c-TableList_row * {
    /*transition: all 200ms;*/
    margin: 0;
  }

  & .c-Menus_header {
    color: #fff;
  }

  .restricted {
    position: absolute;
    top: -10px;
    width: 20px;
  }

  .c-TableList_row {
    padding: 5px 5px 0px 5px;
    margin: 0 0 8px 0;
  }

  .kidsArea {
    height: 432px;
    span {
      height: 432px;
    }
  }

  /* Legal update */
  .calorieFooterInfo {
    font-size: 36px;
    font-weight: normal;
    line-height: 1.1;
    /*margin-bottom: 10px;*/
    /*width: 860px;*/
  }

  .taxLine {
    position: relative;
    font-size: 18px;
    line-height: 1.3;
    top: 3px;
  }

  .c-Menus_footer {
    bottom: 25px;
    padding-left: 20px;
  }

  br {
    line-height: initial;
    font-size: initial;
  }
}

.SignatureMenu .c-TableList_row {
  /* outline: 5px solid #fff;
  transition: all 200ms; */
}

.showPromo1 {
  .c-steak_cheese {outline: 5px solid #f7b301}
  .c-steak_cheese span {color: #f7b301}
}

.showPromo2 {
  .c-meatball_marinara {outline: 5px solid #f7b301}
  .c-meatball_marinara span {color: #f7b301}
}

.showPromo3 {
  .c-chicken_bacon_ranch {outline: 5px solid #f7b301}
  .c-chicken_bacon_ranch span {color: #f7b301}
}


