.c-WrapsFooterW6 {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: #000;

	.item-price {
	  font-size: 36px;
	  color: #fff;
	  font-family: 'Subway-Heavy';
	  z-index: 99;
	  padding: 0; margin: 0;
	  position: absolute;
	}

	.price {
		top: 160px;
	}

	.dollars {
		right: 615px;
	}

	.cents {
		left: 587px;
	}


}
