.c-BBQChickenFoooter {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: #000;

	.item-price {
	  font-size: 23px;
	  color: #febe2d;
	  font-family: 'GraphikCondensed-Medium';
	  z-index: 99;
	  padding: 0; margin: 0;
	}

	.footer-placement {
		position: absolute;
		top: 140px;
		left: 185px;
		width: 160px;
		height: 200px;
		z-index: 10000;
		text-align: center;
	}

}
