$panScale: 1.09;

.quad-player-full-promo {


	.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1 {
			contain     : strict;
			position    : relative;
			width       : 1920px;
	    height      : 1080px;
	    overflow    : hidden;
	    font-family : 'KGSecondChancesSolid';
	    font-size   : 100px;
	    color       : #ffffff;
	    transform   : translate3d(0,0,0);
	    transition  : transform 4.5s ease-out 0s;
	    will-change : transform;

		&[data-ui-state~="transition:out"] {
	    	transition : transform 1s ease-out 0s;
			transform  : translate3d(0,0,2px);

			.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_static_content {
				opacity          : 0;
				transition-delay : 0s;
			}
		}


		

		/*what makes our reuben so delicious?*/
		&[data-ui-state~="transition:in:frame1"] {
			transform : translate3d(0,0,1px);
			.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame:nth-child(1) {
				.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame_content {
					opacity : 1;
					.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame_background {
						transform : scale(1) translateZ(0);
					}
					.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame_caption {
						transform : translate3d(0,0,0);
					}
				}
			}
		}
		/*hearty portions of corned beef*/
		&[data-ui-state~="transition:in:frame2"] {
			transform : translate3d(0,0,0);
			.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame:nth-child(1) {
				.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame_content {
					opacity          : 0;
					transition-delay : 1s;
					.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame_background {
						transform : scale($panScale) translateZ(0);
					}
					.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame_caption {
						transform : translate3d(0,0,0);
					}
				}
			}
			.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame:nth-child(2) {
				.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame_content {
					opacity : 1;
					.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame_background {
						transform : scale($panScale);
					}
					.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame_caption {
						transform : translate3d(0,0,0);
					}
				}
			}
		}
		&[data-ui-state~="transition:in:static"] {
			transform : translate3d(0,0,2px);
			.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame:nth-child(2) {
				.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame_content {
					opacity          : 0;
					transition-delay : 1s;
					.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame_background {
						transform : scale($panScale);
					}
					.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame_caption {
						transform : translate3d(0,0,0);
					}
				}
			}
			.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_static_content {
				opacity          : 1;
				transition-delay : 0s;
			}
		}
	}

		.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame {
			containt  : strict;
			z-index   : 7; 
			position  : absolute; 
			top       : 0px;
			left      : 0px;
			height    : 100%;
			width     : 100%;
			transform : translate3d(0,0,0px);

			/*what makes our reuben so delicious?*/
			&:nth-child(1) {
				.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame_background {
					transform : scale($panScale) translateZ(0);
				}
				.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame_caption {
					position  : absolute;
					top       : 13px;
					left      : 14px;
					padding   : 0px 0px 54px 0px;
					transform : translate3d(0,-100%,0);
				}
			}
			/*hearty portions of corned beef*/
			&:nth-child(2) {
				.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame_background {
					transform : scale(1) translateZ(0);
				}
				.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame_caption {
					position  : absolute;
					top       : 13px;
					left      : 14px;
					padding   : 0px 0px 54px 0px;
					transform : translate3d(0,0,0);
				}
			}
		}



			.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame_content {
				position    : relative;
				width       : 1920px;
				height      : 1080px;
				opacity     : 0;

				transition  : opacity 1s ease-out 0s;
				will-change : opacity;
			}		
				.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame_background {
					position    : relative;
					width       : 1920px;
					height      : 1080px;
					transition  : transform 5.5s ease-out 0.45s;
					will-change : transform;
				}
				.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_frame_caption {
					position    : absolute; 
					transition  : transform 1.3s ease-out 0.45s;
					will-change : transform;
				}



















		.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_static {
			z-index     : 3;
			position    : absolute;
			top         : 0px;
			left        : 0px;
			width       : 1920px;
			height      : 1080px;
			overflow    : hidden;
			will-change : opacity,transform;
			transform   : translateZ(0px);
		}
			.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_static_content {
				position    : relative;
				width       : 100%;
				height      : 100%;
				opacity     : 0;

				transition  : opacity 1s ease-out 0s;
				will-change : opacity;
			}
				.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_static_background {
					z-index  : 1;
					position : relative;
					width    : 1920px;
					height   : 1080px;
				}
				.c-FeaturedPromotionSteakAndCheeseMealDeal2017w1_static_value {
					z-index     : 2;
					position    : absolute;
					top         : 16%;
					right       : 26px;
					width       : 237px;
					font-size   : 3rem;
					line-height : 2.5rem;
					font-family : 'BrooklynSamuelsFive-Bold';
					color       : #ffffff;
					text-align  : center;

					> span {
						position  : relative;
						top       : 7px;
						font-size : 2.3rem;
					}
				}

}