.c-bbq-ribs {
	
	background-color: #fff;
	height: 1080px;
	width: 960px;
	position: relative;

	img {
		position: absolute;
		top: 0;
		left: 0;
	}

	p {
		color: #f2b700;
		font-family: 'Subway-Heavy';
		position: absolute;
	}

	.subhead {
		font-size: 32px;
		top: 180px;
		left: 685px;
	}

	.six-inch {
		font-size: 28px;
		left: 685px;
		top: 445px;
	}

	.footlong {
		font-size: 28px;
		left: 805px;
		top: 445px;
	}
}