.c-FeatPromo {
	position : relative;
	height   : 100%;
	width    : 100%;
}

.c-FeatPromo_background {
	z-index  : 1;
	position : relative;
	height   : 100%;
	width    : 100%;
	overflow : hidden;
}

.c-FeatPromo_items {
	z-index  : 2;
	position : absolute;
	top      : 0px;
	left     : 0px;
	height   : 100%;
	width    : 100%;
	overflow : hidden;
}

.c-FeatPromo_item1_value, .c-FeatPromo_item2_value {
	position    : absolute;
	font-family : $font_family_heavy;
	font-size   : 2.3rem;
	line-height : 2.3rem;
	color       : #6d6e71;
	-webkit-font-smoothing : antialiased;
}

.c-FeatPromo_item1_value {
	&-six {
		bottom : 72px;
		left   : 218px;
	}
	&-footlong {
		bottom : 72px;
		left   : 708px;
	}
}

.c-FeatPromo_item2_value {
	&-six {
		bottom : 72px;
		left   : 1222px;
	}
	&-footlong {
		bottom : 72px;
		left   : 1711px;
	}
}

.c-CrunchTime {
  .c-FeatPromo_item1_value, .c-FeatPromo_item2_value {
    color: #fff !important;
  }

  .c-FeatPromo_item1_value-six {
    bottom: 64px !important;
    left: 705px !important;
  }

  .c-FeatPromo_item1_value-footlong {
    bottom: 64px !important;
    left: 1225px !important;
  }

  .c-FeatPromo_item2_value-six {
    bottom: 64px !important;
    left: 1710px !important;
  }
}

