.c-CrispyChicken2019w1Dual {

  height: 1080px;
  width: 1920px;
  display: inline-block;
  background: #fff;
  position: relative;
  font-family: 'Subway-Heavy';

  * {
    position: absolute;
  }

  .d-img {
    position: absolute;
    left: 0;
    top: 0;
  }

  .d-text {
    font-family: 'Subway-Heavy';
    font-size: 46px;
    line-height: 46px;
    color: #fff;
  }

  .d-bg {
    left: -50px;
    top: -50px;
    width: calc(100% + 100px);
    height: calc(100% + 100px);
  }

  .dn-sub1Price6 {
    top: 912px;
    left: 1113px;
    white-space: pre;
  }

  .dn-sub1Price12 {
    top: 912px;
    left: 1322px;
    white-space: pre;
  }

  .dn-wrapPrice {
    color: #dd3705;
    top: 159px;
    left: 1515px;
    white-space: pre;
  }

}
